<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Survey</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style type="text/css">
.centerImage {
	text-align: center;
	display: block;
}
</style>
</head>
<body>
	<img class="centerImage" src="smiles.jpg" alt="" usemap="#Map" />
	<map name="Map" id="Map">
		<area alt="" title="" href="vote?value=0" shape="poly"
			coords="22,32,26,177,152,176,149,34" />
		<area alt="" title="" href="vote?value=1" shape="poly"
			coords="202,175,199,33,314,37,310,174" />
		<area alt="" title="" href="vote?value=2" shape="poly"
			coords="355,33,356,172,478,170,473,39" />
		<area alt="" title="" href="vote?value=3" shape="poly"
			coords="520,33,524,166,641,169,639,39" />
		<area alt="" title="" href="vote?value=4" shape="poly"
			coords="681,37,689,166,808,169,813,38" />
	</map>
</body>
</html>